.fieldGroup {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.rangeField {
    appearance: none;
    outline: none;
    border-radius: 17px;
    width: 269px;
    height: 35px;
    overflow: hidden;
}

.rangeField {
    appearance: none;
    width: 269px;
    height: 35px;
    border-radius: 17px;
    background: var(--progress-range-bg);
    overflow: hidden;
    transition: background 450ms ease-in-out;
}

.rangeField::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 35px;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

.barScale {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 12px;
    font-weight: var(--bold);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 9.61px;
    color: var(--white);
}

.barScaleTitle {
    position: absolute;
    display: flex;
    margin: 9px 0 0 11.5px;
    color: var(--white);
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.barScale li {
    display: flex;
    width: 20px;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.04em;
}

.barScale li::before {
    content: "";
    width: 1px;
    height: 35px;
    background-color: var(--white);
    margin-right: 6px;
    display: block;
}