.menuList {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.menuList li {
    display: flex;
    gap: 4.5px;
    align-items: center;
    justify-content: center;
}

.menuList li p {
    font-weight: var(--medium);
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--main-text);
}