.menuList {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin: 40px auto 57px;
}

@media screen and (min-width: 768px) {
    .menuList {
        flex-direction: row;
        padding: 0px 8px 0px 0px;
        width: 645px;
        height: 18px;
        margin: 153px auto 58px;
    }
}

.menuList li {
    display: flex;
    gap: 4.5px;
    align-items: center;
    justify-content: center;
    max-width: 133px;
    margin: 0 auto;
}

.menuList li p {
    font-weight: var(--medium);
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
    color: var(--main-text);
}