.widget {
    display: none;
}

@media screen and (min-width: 1280px) {
    .widget {
        display: flex;
        flex-direction: column;
        z-index: 100;
        gap: 50px;
    }
}

.widgetWrapper {
    display: flex;
    width: 217px;
   margin: 0 27px 0 25px;
    height: 84.98;
}

.textContainer {
    display: flex;
    width: 119px;
    flex-direction: column;
    margin-left: 12px;
}

.widgetUsers {
    font-weight: 800;
    font-size: 24px;
    color: var(--white);
}

.widgetUsersAmount {
    font-weight: var(--medium);
    font-size: 16px;
    color: var(--white);
}

.widgetUserRating {
    font-weight: var(--bold);
    font-size: 16px;
    color: var(--white);
}

.userRatingScale {
    font-weight: var(--bold);
    font-size: 20px;
    color: #f9b936;
    margin-left: 2px;
}