.itemsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 63px;
}

@media screen and (min-width: 768px) {
    .itemsList {
        gap: 50px;
        margin-bottom: unset;
    }
}

@media screen and (min-width: 1280px) {
    .itemsList {
        flex-direction: row;
        gap: 28px;
        width: 508px;
        }
}

.itemsList li {
    font-weight: var(--medium);
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    color: var(--main-blue);
    text-align: center;
}