.navBar {
    height: 29px;
}

@media screen and (min-width: 1280px) {
    .navBar {
        width: 199px;
        margin-right: 20px;
    }
}

.navList {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navBar li {
    display: flex;
    width: 29px;
    height: 29px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.navBar svg {
    fill: var(--white);
}

.navBar svg:hover,
.navBar svg:focus {
    transform: scale(1.2);
}