.headerWrapper {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.headerTopWrapper {
    background: linear-gradient(90deg, #0dd0ba 0%, #2a86e5 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerBottomWrapper {
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerTop {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px 14px 11px 17px;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .headerTop {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .headerTop {
        width: 1170px;
        padding: unset;
        align-items: center;
    }
}

.headerBottom {
    padding: 15px 28px 15px 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .headerBottom {
        width: 768px;
    }
}

@media screen and (min-width: 1280px) {
    .headerBottom {
        width: 1170px;
        justify-content: start;
        padding: unset;
        align-items: center;
    }
}

.logo {
    width: 134px;
    height: 18px;
    margin-right: auto;
}

@media screen and (min-width: 1280px) {
    .logo {
        margin-right: 61px;
    }
}

.itemsDesktop {
    display: none;
}

@media screen and (min-width: 1280px) {
    .itemsDesktop {
        display: flex;
    }
}

.searchDesktop {
    display: none;
}

@media screen and (min-width: 1280px) {
    .searchDesktop {
        display: flex;
        margin-left: auto;
    }
}

.burgerButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
}

@media screen and (min-width: 1280px) {
    .burgerButton {
        display: none;
    }
}

.menuListWideScreen {
    display: none;
}

@media screen and (min-width: 768px) {
    .menuListWideScreen {
        display: flex;
    }
}