.mobMenu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 110px;
    left: 0;
    transform: translateY(-150%);
    z-index: 5;
    visibility: hidden;
    transition: transform 0.4s ease-in-out, visibility 0.3s ease-in-out;
}

.mobMenu .active {
    transform: translateY(0);
    visibility: visible;
}

.mobMenuContent {
    width: 100%;
    height: 100%;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1280px) {
    .mobMenu {
        display: none;
    }
}