.main {
    padding-top: 110px;
}

.pageContent {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1280px) {
    .pageContent {
        flex-direction: row;
        width: 1170px;
        justify-content: space-between;
        margin: 0 auto;
    }
}

.adsElement {
    margin-left: 59px;
}